{% extends "templates/base.tmpl" %}
{% block title %}Lowest Eigenvector{% endblock %}
{% block content %}
<h2>Lowest Eigenvector Benchmarks</h2>

<p>
Entries for these benchmarks must record the average number number of force
calls as <i>force_calls</i> in <tt>benchmark.dat</tt>, the maximum number of
force calls as <i>force_calls_max</i>, the minimum number of force calls as
<i>force_calls_min</i>, and the number of failed searches as
<i>nfailed</i>
</p>

<h3><a id="lj38" href="#lj38">Lennard-Jones 38 Clusters</a></h3>

<p>This benchmark tests the performance of methods for computing the lowest
eigenvalues and eigenvectors (minimum modes) for Lennard Jones 38 clusters.  A
tar file containing the structures at which the minimum mode should be computed
is here: <a href="min_mode/lj38/coords.tar.gz">coords.tar.gz</a>.  This folder
also contains the exact lowest eigenvectors and the initial guess for the mode.
</p>

<p>
These structures are all in the
vicinity of a saddle point and all have a negative lowest eigenvalue.  The
termination condition is that the magnitude of the dot product of the estimated mode with the
exact mode should be greater than 0.99 (both vectors should be normalized).
</p>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Entry</th>
    <th>&lt;N&gt;</th>
    <th>min N</th>
    <th>max N</th>
    <th>Failed</th>
  </thead>
  {% for entry in benchmarks['lj38']|sort(attribute='force_calls') %}
    {% if entry.hidden == False %}
    <tr>
    {% else %}
    <tr class="hidden-lj38" style="display: none;">
    {% endif %}
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ '%.0f' % entry.nfailed }}</td>
    </tr>
  {% endfor %}

  <tr>
    <td colspan="5">
      <a href="#" onclick="$('.hidden-lj38').toggle();return false;">Show/Hide Additional Entries...</a>
    </td>
  </tr>

</table>

{% endblock %}
