<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="normalize.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="sorttable.js"></script>
  </head>
  <body>
    <h1><a href="index.html">Benchmarks Homepage</a></h1>
    {% block content %}{% endblock %}
  </body>
</html>
