
        <a href="#" onclick="return false;" 
           data-target="#{{entry.id}}" data-toggle="collapse">
           {{ entry.entry_name }}</a>
         {%- if not entry.code_file -%}
              <a href="#" rel="tooltip" title="No source code available"><sup class="text-warning">1</sup></a>
        {% endif %}
 
        <div id="{{entry.id}}" class="collapse entry-details">
          <p>
            {% if entry.comments %}
            <b>Comments:</b>
            {{ entry.comments }}
            <br>
            {% endif %}

            <span><b>Date:</b> {{ entry.date }}</span>
            <span><b>Contributor:</b> {{ entry.contributor }}</span>
            {% if entry.code_file %} 
            <span>
              <b>Code:</b> 
              <a href="codes/{{entry.code_file}}">
                {{ entry.code_file }}
              </a>
            </span>
            {% endif %}
            {% if entry.input_files %} 
            <span>
              <b>Input files:</b>
              <a href="{{ entry.input_files }}">
                {{entry.entry_name}}.tgz
              </a>
            </span>
            {% endif %}
          </p>
        </div>
