        <a href="#" class="entry" onclick="return false;"
          data-content="
          <p>
          <b>Date:</b> {{ entry.date }} 
          <br>
          <b>Contributor:</b> {{ entry.contributor }}
          <br>
          <b>Code:</b> {{ entry.code }}
          <br>
          <b>Code Version:</b> {{ entry.code_version }}
          <br>
          <b>Comments:</b><br>
          {{ entry.comments }}</p>
          ">
            {{ entry.entry_name }}
          </a>
