{% extends "templates/base.tmpl" %}
{% block title %}True Rate Benchmark{% endblock %}
{% block content %}
<h2>True Escape Rate</h2>
Benchmark for calculating true rates of chemical reactions.

<h3>Adatom on Al(100) Surface</h3>

<p>This benchmark tests various methods of calculating the true rate of escape. A tar file containing the minimized reactant state is found here:

<a href="accelerated-md/reactant.tar.gz">reactant.tar.gz</a>.</p>

<p>  This benchmark requires that the langevin thermostat with the Verlet algorithm is used with a friction coefficient of 0.001 1/fs. Calculated rates will be compared with a standard true rate shown below. </p>

<h3>Standard True Rate of Escape</h3>

{% set aladatom_standard = [
    {'directory':'eon-md-langevin',   'algorithm':'paralellel_replica', 'code':'Eon','thermostat':'Langevin_0.001' },
  ]
%}

<table class="sortable">
  <tr>
    <th>Algorithm</th>
    <th>Code</th>
    <th>Thermostat</th>
    <th>Escape rate(1/s)</th>
    <th>Uncertainty(1/s)</th>
    <th>Percent Uncertainty</th>
    <th>Date</th>
    <th>Contributer</th>
  </tr>
  {% for entry in benchmarks['aladatom/true_standard']|sort(attribute='true_rate') %}
    <tr>
      <td>{{ entry.algorithm }}</td>
      <td>{{ entry.code }}</td>
      <td>{{ entry.thermostat }}</td>
      <td>{{ '%.3f' % entry.true_rate }}</td>
      <td>{{ '%.3f' % entry.uncertainty }}</td>
      <td>{{ '%.3f' % entry.percent_uncertianty}}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.contributer }}</td>
    </tr>
  {% endfor %}
</table>


<h3>Escape Rates</h3>

{% set aladatom_benchmark = [ 
    {'directory':'eon-md-langevin',   'algorithm':'molecular_dynamics', 'code':'Eon','thermostat':'Langevin_0.02' },
    {'directory':'eon-md-anderson',   'algorithm':'molecular_dynamics', 'code':'Eon','thermostat':'Anderson_alpha0.5_pcol400' },    
  ] 
%}

<table class="sortable">
  <tr>
    <th>Algorithm</th>
    <th>Code</th>
    <th>Thermostat</th>
    <th>Escape rate(1/s)</th>
    <th>Uncertainty(1/s)</th>
    <th>Percent Uncertainty</th>
    <th>total FCs</th>
    <th>FCs per second</th>
  </tr>
  {% for benchmark in aladatom_benchmark %}
    {% set path = "accelerated-md/" + benchmark.directory + "/" %}
    <tr>
      <td>{{ benchmark.algorithm }}</td>
      <td>{{ benchmark.code }}</td>
      <td>{{ benchmark.thermostat }}</td>
      <td>{% include path+"r.dat" %}</td>
      <td>{% include path+"e.dat" %}</td>
      <td>{% include path+"pe.dat" %}</td>
      <td>{% include path+"fc.dat" %}</td>
      <td>{% include path+"fcps.dat" %}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}

