{% extends "templates/base.tmpl" %}
{% block title %}Accelerated MD Benchmark{% endblock %}
{% block navigation %}
<li class="first"><a href="index.html">Benchmark List</a></li>
<li><a href="accelerated-md.html">Accelerated MD Escape Rate</a></li>
{% endblock %}
{% block content %}
<h1>Accelerated MD</h1>
Accelerated MD Benchmarks for Escape Rates and Branching Ratios.

<h2>Adatom on Al(100) Surface</h2>

<p>This benchmark tests accelerated MD methods by calculating escape rates and product branching ratios. A tar file containing the minimized reactant state is found here:

<a href="accelerated-md/reactant.tar.gz">reactant.tar.gz</a>.</p>

<p>  The benchmark requires 5000 sample escape rates are obtained using an accelerated MD method at 250K.  Either the Langevin thermostat with a friction coefficient of 0.005-0.03 or the Anderson thermostat with a collision strength between 0.2-0.8 and a collision period between 125 and 225 should be used.</p>

<h3>Escape Rates</h3>

{% set aladatom_benchmark = [ 
    {'directory':'eon-parallelreplica',   'algorithm':'parallel_replica', 'code':'Eon','thermostat':'Langevin_0.02' },
    {'directory':'eon-hyperdynamics',   'algorithm':'bond_boost_hyperdynamics', 'code':'Eon','thermostat':'Langevin_0.02' },    
  ] 
%}

<table class="sortable">
  <tr>
    <th>Algorithm</th>
    <th>Code</th>
    <th>Thermostat</th>
    <th>Escape rate(1/s)</th>
    <th>Error(1/s)</th>
    <th>Percent error</th>
    <th>FCs</th>
  </tr>
  {% for benchmark in aladatom_benchmark %}
    {% set path = "accelerated-md/" + benchmark.directory + "/" %}
    <tr>
      <td>{{ benchmark.algorithm }}</td>
      <td>{{ benchmark.code }}</td>
      <td>{{ benchmark.thermostat }}</td>
      <td>{% include path+"r.dat" %}</td>
      <td>{% include path+"e.dat" %}</td>
      <td>{% include path+"pe.dat" %}</td>
      <td>{% include path+"fc.dat" %}</td>
    </tr>
  {% endfor %}
</table>

<h3>Branching Ratios</h3>

{% set aladatom_branchingratio = [
    {'directory':'eon-parallelreplica','algorithm':'parallel_replica', 'code':'Eon'},
  ]
%}

<table class="sortable">
 <tr>
         <th>Algorithm</th>
		<th>Code</th>
		<th>p0</th>
		<th>p1</th>
		<th>p2</th>
		<th>p3</th>
		<th>p4</th>
		<th>p5</th>
		<th>p6</th>
		<th>p7</th>
		<th>p8</th>
		<th>p9</th>
		<th>p10</th>
		<th>p11</th>
		<th>p12</th>
		<th>p13</th>
		<th>p14</th>
		<th>p15</th>
		<th>p16</th>
 </tr>
 <tr>
         <td>parallel_replica</td>
         <td>Eon</td>
         <td>0.0004</td>
         <td>0.3758</td>
         <td>0.2372</td>
         <td>0.1198</td>
         <td>0.2518</td>
         <td>0.0030</td>
         <td>0.0020</td>
         <td>0.0026</td>
         <td>0.0010</td>
         <td>0.0006</td>
         <td>0.0020</td>
         <td>0.0016</td>
         <td>0.0006</td>
         <td>0.0006</td>
         <td>0.0006</td>
         <td>0.0002</td>
         <td>0.0002</td>
 </tr>
</table>


{% endblock %}

