{% extends "templates/base.tmpl" %}
{% block title %}Double Ended Saddle Search{% endblock %}
{% block content %}
<h1>Double Ended Saddle Search</h1>

<h2>Pt(111) Heptamer Island</h2>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Algorithm</th>
    <th>&lt;FCs&gt;</th>
    <th>min(FCs)</th>
    <th>median(FCs)</th>
    <th>max(FCs)</th>
    <th>nfailed</th>
  </thead>
  {% for entry in benchmarks['pt-island']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_median }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ '%d' % entry.nfailed }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
