{% extends "templates/base.tmpl" %}
{% block title %}Double Ended Saddle Search{% endblock %}
{% block content %}
<h1>Double Ended Saddle Search</h1>

For this benchmark we require simply a refined saddle point that is in between
the starting and ending minima.  The termination condition is that the norm of
the gradient at the saddle point be less than 0.001.  An example method to find
that saddle point is (D)NEB + climbing image or (D)NEB + hybrid eigenvector
following.  The saddle point need not be a transition state directly separating
the start and end minima.

<h2>LJ 38</h2>
A tar file containing the structures between which a saddle should be computed
is here: <a href="double-ended-saddle-search/lj38/coords.tgz">coords.tgz</a>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Algorithm</th>
    <th>&lt;FCs&gt;</th>
    <th>min(FCs)</th>
    <th>median(FCs)</th>
    <th>max(FCs)</th>
    <th>nfailed</th>
  </thead>
  {% for entry in benchmarks['lj38']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_median }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ '%d' % entry.nfailed }}</td>
    </tr>
  {% endfor %}
</table>

<h2>Pt(111) Heptamer Island</h2>

A tar file containing the structures between which a saddle should be computed
is here: <a href="double-ended-saddle-search/pt-island/pt-island-con.tgz">pt-island-con.tgz</a>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Algorithm</th>
    <th>&lt;FCs&gt;</th>
    <th>min(FCs)</th>
    <th>median(FCs)</th>
    <th>max(FCs)</th>
    <th>nfailed</th>
  </thead>
  {% for entry in benchmarks['pt-island']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_median }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ '%d' % entry.nfailed }}</td>
    </tr>
  {% endfor %}
</table>

<h2>LJ 38 with one intermediate minimum</h2>
For this benchmark we require a connected path of minima and transition states
between the starting and ending points.  For this benchmark the starting and
ending point are not directly connected.  There exists a path with one
intermediate minimum, however we do not require this path to be found. A
successful benchmark is one which finds any path between the starting and
ending minima.  Because the final path is not specified, we require the number
of transition states in the found path to be reported.
(note: this benchmark should be separated from those above.  perhaps in "double ended pathway search")

A tar file containing the structures between which a saddle should be computed
is here: <a href="double-ended-saddle-search/lj38_2ts_separation/coords.tgz">coords.tgz</a>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Algorithm</th>
    <th>&lt;FCs&gt;</th>
    <th>min(FCs)</th>
    <th>median(FCs)</th>
    <th>max(FCs)</th>
    <th>&lt;TSs&gt;</th>
    <th>nfailed</th>
  </thead>
  {% for entry in benchmarks['lj38_2ts_separation']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_median }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ '%.0f' % entry.transition_states }}</td>
      <td>{{ '%d' % entry.nfailed }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
