{% extends "templates/base.tmpl" %}
{% block title %}Global Optimization Benchmark{% endblock %}
{% block content %}
<h2>Global Optimization</h2>
Benchmarks for Global Optimization.

<h3><a id="lj38" href="#lj38">Lennard-Jones 38</a></h3>

<p> 

This benchmark requires that the global optimization algorithm is run starting
from the 100 randomly generated (minimized) Lennard-Jones structures.  Runs
that are greater than 0.001 energy units from the known global minimum are
considered failures. If a run was successful, the number of force calls needed
to reach the global minimum is recorded.

</p>

<p>

The starting structures can be downloaded <a href="globalopt/lj38/100_lj38.tar.gz">here</a>.

</p>

<p>

Entries for this benchmark must record the average number number of force calls
as <i>force_calls</i> in <tt>benchmark.dat</tt>, the maximum number of force
calls as <i>force_calls_max</i>, and the minimum number of force calls as
<i>force_calls_min</i>.

</p>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Entry</th>
    <th>Code</th>
    <th>&lt;N&gt;</th>
    <th>min N</th>
    <th>max N</th>
  </thead>
  {% for entry in benchmarks['lj38']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ entry.code }}</td>
      <td>{{ '%.3e' % entry.force_calls }}</td>
      <td>{{ '%.3e' % entry.force_calls_min }}</td>
      <td>{{ '%.3e' % entry.force_calls_max }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
