{% extends "templates/base.tmpl" %}
{% block title %}hTST Escape Rate Benchmark{% endblock %}
{% block content %}
<h2>hTST Escape Rate Benchmarks</h2>
hTST escape rate  benchmarks for single end point saddle searching algorithms.

<h3><a id="Pt" href="#Pt">Pt seven atoms island</a></h3>

<p>This benchmark tests the performance of single end point saddle searching 
algorithms starting from a give minimum for finding all the saddles below 
the barrier height of 1.3 eV, or reaching 99.9% of the true hTST rate 
assuming a constant prefactor of 1.0e+12 for all processes. 

<table class="sortable">
  <tr>
    <th>Algorithm</th>
    <th>Code</th>
    <th>Barrier_&lt;1.3eV Jobs;</th>
    <th>Barrier_&lt;1.3eV FCs;</th>
    <th>Rate_0.999 Jobs</th>
    <th>Rate_0.999 FCs</th>
    <th>Contributor</th>
  </tr>
  {% for entry in benchmarks['Pt']|sort(attribute='barrier_force_calls') %}
    <tr>
      <td>{{ entry.algorithm }}</td>
      <td>{{ entry.code }} </td>
      <td>{{ '%.0f' % entry.barrier_jobs }}</td>
      <td>{{ '%.3e' % entry.barrier_force_calls }}</td>
      <td>{{ '%.0f' % entry.rate_jobs }}</td>
      <td>{{ '%.3e' % entry.rate_force_calls }}</td>
      <td>{{ entry.contributor }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
