{% extends "templates/base.tmpl" %}
{% block title %}List of Benchmarks{% endblock %}

{% block navigation %}
<li class="first"><a href="index.html">Benchmark List</a></li>
{% endblock %}

{% block content %}
<h1>List of Benchmarks</h1>
<ul>
  <li><a href="minimization.html">Minimization</a></li>
  <li><a href="globalopt.html">Global Optimization</a></li>
  <li><a href="htst.html">hTST Escape Rate</li>
  <li><a href="accelerated-md.html">Accelerated MD Escape Rate</li>
  <li><a href="branchingratios.html">Accelerated MD Branching Ratios</li>
</ul>
{% endblock %}
