{% extends "templates/base.tmpl" %}
{% block title %}Minimization Benchmark{% endblock %}
{% block content %}
<h2>Minimization Benchmarks</h2>

<p>
Entries for these benchmarks must record the average number number of force
calls as <i>force_calls</i> in <tt>benchmark.dat</tt>, the maximum number of
force calls as <i>force_calls_max</i>, the minimum number of force calls as
<i>force_calls_min</i>, and the number of failed minimizations as
<i>nfailed</i>
</p>

<h3><a id="lj38" href="#lj38">Random Lennard-Jones 38 Clusters</a></h3>

<p>This benchmark tests the performance of optimizers starting from 1000
randomly generated Lennard-Jones 38 clusters. A tar file containing the
structures is here: <a href="minimization/lj38/lj38-clusters.tgz">lj38.tgz</a>.</p>


<p>The maximum force on an atom must be reduced to at least 0.01 energy /
distance. The maximum number of force calls that may be made cannot exceed
10,000. Runs that exceed the maximum number of force calls or fail to converge for any other reason are considered failed.</p>

<table class="sortable table table-striped table-condensed table-bordered table-hover">
  <thead>
    <th>Entry</th>
    <th>&lt;N&gt;</th>
    <th>min N</th>
    <th>max N</th>
    <th>Failed</th>
  </thead>
  {% for entry in benchmarks['lj38']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ '%.0f' % entry.nfailed }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
