{% extends "templates/base.tmpl" %}
{% block title %}Minimization Benchmark{% endblock %}
{% block content %}
<h2>Machine Learning Optimization Benchmarks</h2>

<p>
Entries for these benchmarks must record the mean number number of epochs
 <i>mean_epochs</i> in <tt>benchmark.dat</tt>, the median number of epochs <i>median_epochs</i>, the mean energy rmse as
<i>mean_energy_rmse</i>, the median energy rmse as <i>median_energy_rmse</i>, mean force rmse as <i>mean_force_rmse</i>,
 median force rmse as <i>median_force_rmse</i> , and the number of failed minimizations as <i>nfailed</i>
</p>

<h3><a id="pt38-nanoparticle" href="#pt38-nanoparticle">Effective-Medium-Theory Pt 38 Nanoparticle</a></h3>

<p>This benchmark tests the performance of optimizers starting from 50 random uniform in range [-1,1) initializations of 
neural network models. A trajetory file containing the
structures is here: <a href="mlopt/emt-pt38/pt_md.traj">pt_md.traj</a>.</p>


<p>The L2 norm of the loss gradients per parameter set (e.g a parameter set may be the set of all input layer
biases), must be reduced to at least 0.02 energy /
distance (if only energy training), or (0.1 energy/distance) if training forces also.
The maximum number of epoch that may be made cannot exceed 10,000 epochs (if training only energies)
or 30,000 (for force training as well). The neural network architectures are : (20),(10,7). <br>
So 1 layer with 20 neurons, or two layers with 10 and 7 neurons respectively. The energies fitted are not scaled by any feauture scaling 
algorithms (e.g like that of scipy's StandardScaler). The activation function is tanh.
 All the data has been partitioned into one batch for training, and the learning rate for all the optimizers is 0.01. 
<br> If any of these defaults are changed, it will be determinable by the filename of the benchmark entry.

Runs that exceed the maximum number of epochs or fail to converge for 
any other reason are considered failed.</p>
<br> A mean/median frmse value of -1.0 implies only energies were trained for that model.<br>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Entry</th>
    <th>Mean Epochs</th>
    <th>Median Epochs</th>
    <th>Mean E_rmse</th>
    <th>Median E_rmse</th>
    <th>Mean F_rmse</th>
    <th>Median F_rmse</th>
    <th>Failed</th>
  </thead>
  {% for entry in benchmarks['emt-pt38'] %}
    {% if entry.hidden == False %}
    <tr>
    {% else %}
    <tr class="hidden-emt-pt38" style="display: none;">
    {% endif %}
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.5f' % entry.mean_epoch }}</td>
      <td>{{ '%.5f' % entry.median_epoch }}</td>
      <td>{{ '%.5f' % entry.mean_energy_rmse }}</td>
      <td>{{ '%.5f' % entry.median_energy_rmse }}</td>
      <td>{{ '%.5f' % entry.mean_force_rmse }}</td>
      <td>{{ '%.5f' % entry.median_force_rmse }}</td>
      <td>{{ '%.0f' % entry.nfailed }}</td>
    </tr>
  {% endfor %}

  <tr>
    <td colspan="5">
      <a href="#" onclick="$('.emt-pt38').toggle();return false;">Show/Hide Additional Entries...</a>
    </td>
  </tr>

</table>

<br>

<h3><a id="C2H4" href="C2H4">DFT Ethylene(C2H4)</a></h3>

<p>This benchmark is very similar to the Pt nanoparticle benchmark, above.
This tests the performance of optimizers training on 570 strucutres of ethylene
extracted from a density functional theory (DFT) molecular dynamics simulation.
A trajectory file containing the structures is here: 
<a href="mlopt/C2H4/C2H4_md.traj">C2H4_md.traj</a>.</p>

<!--

$$ U(r) = D_e ( 1 - e^{-a(r-r_e)})^2 $$
<p>where $D_e=0.7102$ eV, $r_e=2.8970$ Ang, and $a=1.6047$ Ang$^{-1}$.</p>


<p>The norm of the force must be reduced to at least 1e-3 eV/Ang</p>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Entry</th>
    <th>&lt;N&gt;</th>
    <th>min N</th>
    <th>max N</th>
  </thead>
  {% set any_hidden = False %}
  {% for entry in benchmarks['morse-bulk']|sort(attribute='force_calls') %}
    {% if entry.hidden == False %}
    <tr>
    {% else %}
    {% set any_hidden = True %}
    <tr class="hidden-morse" style="display: none;">
    {% endif %}
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
    </tr>
  {% endfor %}
  {% if any_hidden %}
  <tr>
    <td colspan="5">
      <a href="#" onclick="$('.hidden-morse').toggle();return false;">Show/Hide Additional Entries...</a>
    </td>
  </tr>
  {% endif %}
</table>
{% endblock %}
-->
