{% extends "templates/base.tmpl" %}
{% block title %}Saddle Search Benchmark{% endblock %}
{% block content %}
<h2>Saddle Search Benchmark</h2>

<h3><a id="pt-heptamer" href="#pt-heptamer">Pt Heptamer Island</a></h3>

<p>This benchmark measure the effiency of finding saddles for a Pt heptamer
island. The initial geometry is provided in <a href="saddle-search/pt-island/pt-island.con">con</a> and <a href="saddle-search/pt-island/POSCAR_pt_island">POSCAR</a> formats. The potential energy is
given by a Morse potential:

\[ V(r) = D(e^{-2\alpha(r-r_0)} - 2 e^{-\alpha(r-r_0)}) \]

with $D=0.7102$, $\alpha=1.6047$, and $r_0=2.897$.</p>

<p>The goal of the benchmark is to deterimine how many force calls it takes to
find the 27 connected saddles with a barrier below 1.5 eV. The saddle search is
considered complete when the norm of the force is reduced to below
10<sup>-3</sup> eV/Angstrom.</p>

<p>In the table below &rho; is the fraction of saddles found that were
connected to the initial minimum, N<sub>u</sub> is the number of unique
connected saddles, N<sub>s</sub> is the total number of saddle searches, and
N<sub>f</sub> is the total number of force calls.</p>

<table class="sortable table table-striped table-condensed table-bordered table-hover benchmark-table">
  <thead>
    <th>Entry</th>
    <th>N<sub>f</sub></th>
    <th>&rho;</th>
    <th>N<sub>s</sub></th>
    <th>N<sub>u</sub></th>
  </thead>
  {% for entry in benchmarks['pt-island']|sort(attribute='force_calls') %}
    <tr>
      <td>{% include 'templates/entry-details.tmpl' %}</td>
      <td>{{'%.1e' % entry.force_calls}}</td>
      <td>{{'%.2f' % entry.fraction_connected }}</td>
      <td>{{'%.0f' % entry.total_searches }}</td>
      <td>{{'%.0f' % entry.unique_saddles }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
