body {
    padding: 10px;
    font-size: 1em;
}

#title:visited {
    color: #000;
}

table {
    text-align: right;
    border-collapse: collapse;
}

td, th {
    padding: .2em 1em .2em 1em;
}

td {
    font-family: monospace;
}

tr:nth-child(even) {
    background-color: #ddd;
}

pre {
    border: 1px solid black;
    padding: .4em;
}
