td {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

th {
    cursor: pointer;
    -webkit-user-select: none;
    white-space: nowrap;
}

.entry-details {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
