table {
    text-align: right;
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 3px;
}

/*
  padding: .2em 1em .2em 1em;
*/

th:hover {
    background-color: #eee;
}

td {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

tr:nth-child(even) {
    background-color: #eee;
}
