{% extends "templates/base.tmpl" %}
{% block title %}Transition State Optimization Benchmark{% endblock %}
{% block content %}
<h1>Transition State Optimization</h1>
Benchmarks for Transition State Optimization

<p>This benchmark tests the performance of algorithms for finding the nearest
transition state.  The starting point are structures taken from the highest
energy image in a DNEB run.  Idealy they should all be reasonably close to a
transition state (Although there are a few structures which converge to states
with positive lowest eigenvalue.  Should we delete these from the starting
structure database?) A tar file containing the random and minimized structures
is (will be) here <a href="tsopt/LJ38/lj38.tar.gz">lj38.tar.gz</a>. </p>

<p>  The benchmark requires that each provided Lennard-Jones starting
structures be optimized until the rms gradient is less that 0.001.  Runs that
don't reach the required tolerance or those with positive zero eigenvalue are
considered failures.  If a run was successful, the number of forcecalls
necessary to reach the global minimum the first time is recorded.</p>

<p> Avg FCs: Average number of force calls needed to find global minimum (average over successful runs) <p>
<p> min(FCs): Minimum number of force calls needed to find global minimum (best successful run) <p>
<p> max(FCs): Maximum number of forcecalls needed to find the global minimum(worst successful run) <p>


<table class="sortable">
  <tr>
    <th>Algorithm</th>
    <th>Code</th>
    <th>&lt;FCs&gt;</th>
    <th>min(FCs)</th>
    <th>max(FCs)</th>
    <th>Date</th>
    <th>Contributor</th>
  </tr>
  {% for entry in benchmarks['LJ38']|sort(attribute='force_calls') %}
    <tr>
      <td>{{ entry.algorithm }}</td>
      <td>{{ entry.code }} {{ entry.code_version }}</td>
      <td>{{ '%.0f' % entry.force_calls }}</td>
      <td>{{ '%.0f' % entry.force_calls_min }}</td>
      <td>{{ '%.0f' % entry.force_calls_max }}</td>
      <td>{{ entry.date }}</td>
      <td>{{ entry.contributor }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
